:host {
	
}

.static-sp-container {
    .table-row {
        display: table-row;
    }

    .table-cell {
        display: table-cell;
    }

    .table-header {
        display: table-header-group;
    }

    .table {
        display: table;
    }
}